.account-table-container {
  width: auto;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 20px 20px 0 0;
  }

  .horizontal-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    border-radius: 15px 15px 0 0;
    padding: 20px 20px 0 30px;
  }
  
  .nav-logo {
  font-size: 24px;
  font-weight: bold;
  }
  
  .nav-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
  }
  
  .nav-link.active .nav-button {
    background-color: white;
    color: #4CAF50;
  }
  
  .nav-button {
    flex: 1;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
  }
  
  .nav-button:hover {
    color: #4CAF50;
    background-color: white;
  }
  
  .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
  }

.table{
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-content {
  border-radius: 0;
  padding-bottom: 25px;
}

  .table-title{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 600;
  }

  .header-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 180px;
  height: 40px;
  gap: 8px;
  background-color: #FF7468;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  margin-bottom: 13px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  }

.table-button {
  display: flex;
  gap: 10px;
  padding-right: 50px;
}

.table-header .header-button:hover {
  background-color: white;
  color: #FF7468;
  border: 1px solid #FF7468;
}

.pagination-setting{
  display: flex;
  gap: 15px;
}

.page-size{
  margin-top: auto;
  margin-right: 50px;
}

.page-info{
  margin-top: 16px;
  margin-left: auto;
}


.dashboard-content-list {
  flex: 1;
  background-color: #f0f2f5;
  overflow-y: auto;
}